.video-container {
  position: relative;
  height: 700px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937ae;
  margin-top: 7rem;
}

.video-container video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.232);
  opacity: 0.5;
}

.mute-button {
  position: absolute;
  z-index: 20;
  bottom: 1.25rem;
  right: 1.25rem;
  background-color: #4b5563;
  padding: 0.75rem;
  border-radius: 9999px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 1.25rem;
  transition: background-color 0.3s;
}

.mute-button:hover {
  background-color: #374151;
}

.banner-text {
  position: relative;
  z-index: 10;
  text-align: center;
  color: white;
}

.banner-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.banner-description {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}


.video-container {
  margin-top: 190px;
}